Source: kms-pointerdetectix-6.0
Section: utils
Priority: optional
Maintainer: Kurento Maintenance Team <kurento@googlegroups.com>
Build-Depends: debhelper (>= 8.0.0),
 cmake,
 pkg-config,
 kms-core-6.0-dev (>= 6.6.0),
 kms-elements-6.0-dev (>= 6.6.0),
 kms-filters-6.0-dev (>= 6.6.0),
 libopencv-dev,
 libsoup2.4-dev
Standards-Version: 3.9.4
Homepage: http://kurento.org
Vcs-Git: git://github.com/Kurento/kms-pointerdetectix.git
Vcs-Browser: https://github.com/Kurento/kms-pointerdetectix.git

Package: kms-pointerdetectix-6.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  kms-core-6.0 (>= 6.6.0),
  kms-elements-6.0 (>= 6.6.0),
  kms-filters-6.0 (>= 6.6.0)
Breaks:
  kms-pointerdetectix
Replaces:
  kms-pointerdetectix
Description: Kurento Pointer Detectix Filter

Package: kms-pointerdetectix-6.0-dev
Architecture: any
Depends: kms-pointerdetectix-6.0 (= ${binary:Version}),
  kms-core-6.0-dev,
  kms-elements-6.0-dev,
  kms-filters-6.0-dev,
  libopencv-dev
Breaks:
  kms-pointerdetectix-dev
Replaces:
  kms-pointerdetectix-dev
Description: Kurento Pointer Detectix Filter development files

Package: kms-pointerdetectix-6.0-dbg
Architecture: any
Depends: kms-pointerdetectix-6.0 (= ${binary:Version})
Breaks:
  kms-pointerdetectix-dbg
Replaces:
  kms-pointerdetectix-dbg
Description: Kurento Pointer Detectix Filter debug symbols
